<div class="search">
  
  <form style="display: flex; flex-direction: column;;" #form="ngForm" (submit)="onSubmit()">
    <label class="input-label" for="username">City:</label>
    <input type="text" pInputText [(ngModel)]="cityName" />
    <!-- <input type="text" placeholder="Search city" name="city" [(ngModel)]="cityName"> -->
  </form>
</div>

@if (isLoading) {
  <div class="loading">
    <p-progressBar mode="indeterminate" [style]="{ height: '6px' }" />
  </div>
}

<div class="container" *ngIf="weatherData">

  <div class="upper-data">
    <div class="weather-data">
      <div class="location">{{weatherData.name}}</div>
      <div class="temperature">{{ weatherData.main.temp | convertToCelsius }} °С</div>
      <div class="wth-description">{{ weatherData.weather[0].description }}</div>
    </div>
    <img src="../assets/day.jpg" *ngIf="14 > 15">
    <img src="../assets/city.png" *ngIf="14 <= 15">
  </div>

  <div class="lower-data">

    <div class="more-info-label">
      More Information
    </div>

    <div class="more-info-containter">

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/min.png">
          <span>min</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.main.temp_min | convertToCelsius }} °С
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/max.png">
          <span>max</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.main.temp_max | convertToCelsius }} °С
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/min.png">
          <span>humidity</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.main.humidity }}%
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.png">
          <span>wind</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.wind.speed | number: '1.0-0' }} km/h
        </div>
      </div>
    </div>
  </div>
</div>




<router-outlet></router-outlet>
